.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #eee;
  height: 30px;
  width: 100%;
}

.container {
  padding: 20px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

thead td {
  font-weight: bold;
}
